<!DOCTYPE html>
<html lang="ca" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inici de sessió | E-random-Comerç</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
  </head>

  <body>
    <!-- Barra de navegació -->
    <header class="navbar">
      <div class="logo">E-random-Comerç</div>
      <nav class="nav-links">
        <a th:href="@{/}">Inici</a>
        <a th:href="@{/botiga}">Botiga</a>
        <a th:href="@{/blog}">Blog</a>
      </nav>
      <div class="nav-icons">
        <input type="text" placeholder="Cercar..." class="search-bar" />
        <button class="icon">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <a th:href="@{/carret}" class="icon">
            <i class="fa-solid fa-cart-shopping"></i>
        </a>
        <a th:href="@{/registre}" class="icon">
          <i class="fa-solid fa-user"></i>
        </a>
      </div>
    </header>

    <!-- Formulari de registre/inici sessió -->
    <main class="register-container">
      <div class="register-card">
        <h2>Inicia sessió amb el teu compte</h2>
        <p>Introdueix el teu nom d’usuari i contrasenya per iniciar sessió.</p>

        <form class="register-form" th:action="@{/login}" method="post">
          <div class="form-group">
            <label for="username">Nom d'usuari</label>
            <input
              type="text"
              id="username"
              name="username"
              placeholder="Escriu el teu nom"
              required
            />
          </div>

          <div class="form-group">
            <label for="password">Contrasenya</label>
            <input
              type="password"
              id="password"
              name="password"
              placeholder="********"
              required
            />
          </div>

          <button type="submit" class="btn-login">Inicia sessió</button>

        </form>
        <p class="register-link">
            No tens un compte?
            <a th:href="@{/registre}">Crea el teu compte</a>
          </p>
      </div>
    </main>

    <!-- Peu de pàgina -->
    <footer class="footer">
      <p class="copyright">© 2025 E-random-Comerç. Tots els drets reservats.</p>
    </footer>
  </body>
</html>
